* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.background-text {
    position: absolute;
    bottom: 500px;
    font-size: 50px;
    color: white;
    opacity: 0.4;
    z-index: -1;
}

.wrapper {
    width: 450px;
    background: rgba(255, 255, 255, 0.5);
    padding: 49px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    bottom: 0px;
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
    transform: scaleX(1);
}

.wrapper button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4158d0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 289px;
}

#validationMessage {
    margin-top: 0px;
    color: red;
    font-size: 14px;
}